@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
$logos: sprite-map("logos/*.png");
// responsive
$break-1: 320px;
$break-2: 480px;
$break-3: 768px;
$break-4: 1024px;
$break-5: 700px; 
@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $break-1) { @content; }
  }
  @else if $media == mob-lan {
    @media only screen and (max-width: $break-2) { @content; }
  }
  @else if $media == pda {
    @media only screen and (max-width: $break-3) { @content; }
  }
  @else if $media == med {
    @media only screen and (max-width: $break-4) { @content; }
  }
  @else if $media == height {
    @media only screen and (max-height: $break-5) { @content; }
  }
}
// fonts
@mixin pfd_r{
    font-weight: normal;
    font-family: 'pf_din_text_comp_proregular', sans-serif;
}
@mixin pfd_m{
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
}
@mixin pfd_mi{
    font-weight: normal;
    font-style: normal;
    font-family: 'pf_din_text_comp_pro_mediumIt', sans-serif;
}
@mixin pfd_b{
    font-weight: normal;
    font-family: 'pf_din_text_comp_probold', sans-serif;
}
@mixin hel_r{
    font-weight: normal;
    font-family: 'helveticaneuecyrroman', sans-serif;
}
@mixin hel_b{
    font-weight: normal;
    font-family: 'helveticaneuecyrbold', sans-serif;
}
@mixin hel_i{
    font-weight: normal;
    font-family: 'helveticaneuecyritalic', sans-serif;
}
@mixin hel_bi{
    font-weight: normal;
    font-family: 'helveticaneuecyrbold_italic', sans-serif;
}
//animations example