@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
// responsive
$break-1: 320px;
$break-2: 480px;
$break-3: 768px;
$break-4: 1130px;
@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $break-1) { @content; }
  }
  @else if $media == mob-lan {
    @media only screen and (max-width: $break-2) { @content; }
  }
  @else if $media == pda {
    @media only screen and (max-width: $break-3) { @content; }
  }
  @else if $media == med {
    @media only screen and (max-width: $break-4) { @content; }
  }
}
