@import "base";
/* HOW TO USE SPRITES, see _base.scss*/
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
body, html {
    height: 100% 
}
img,fieldset {
	border:none;
}
input[type="submit"] {
	cursor:pointer;
}
textarea {
	overflow: auto;
    display: block;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
input[type='submit']::-moz-focus-inner{
	padding:0;
	border:0
}
* {
	-webkit-text-size-adjust: none;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
body{
    padding: 0 10px;
    min-width: 940px;
    color: #fff;
    background: #ee1b2f;
    font: normal 14px Arial, sans-serif;
}
.l-wrapper {
    width: 940px;
    margin: 0 auto -80px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	clear: both;
	height: 80px;
}
.wrapper {
    overflow: hidden;
    margin-right: -20px;
}
.wrap {
    @include clr();
}
.title-l-1 {
    clear: both;
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.title-l-2 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
}
/* -------------------------------------------- Header ------------------------------------------ */
.header {
    position: relative;
    padding-top: 10px;
    height: 180px;
    overflow: hidden;
}
.header__soc {
    float: right;
}
.header__soc-text {
    position: absolute;
    top: 35px;
    right: 0;
    width: 127px;
    height: 66px;
    background: url(../img/soc-text.png) 0 0 no-repeat;
}

/* ---------------------------------------- //END Header ---------------------------------------- */

/* ---------------------------------------------- main ------------------------------------------ */
.main { 
    p {
        margin-bottom: 30px;
        line-height: 18px;
    }
}
.left-col {
    float: left;
    padding-top: 55px;
    width: 550px;
}
.right-col {
    width: 390px;
    float: right;
}
.btn {
    display: inline-block;
    margin-right: 15px;
    height: 55px;
    width: 170px;
    line-height: 55px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-top: 1px solid #6a5634;
    border-bottom: 1px solid #707070;
    background: #e9c280;
    @include border-radius(7px);
    @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.2));
    @include background-image(linear-gradient(top, #e9c280 0%, #f1ce94 50%, #e0b56c 50%, #e0b56c 100%));
    i {
        display: inline-block;
        vertical-align: middle;
        @include sized-sprite($icons, apple);
        margin: -7px 7px 0 0;
    } 
}
/* ------------------------------------------ //END main----------------------------------------- */

/* --------------------------------------------- footer ----------------------------------------- */
.footer {
    position: relative;
    margin: 0 auto;
    width: 940px;
    padding-bottom: 35px;
    overflow: hidden;
    font-size: 12px;
}
.footer__col {
    float: left;
    width: 240px;
}
.footer__soc {
    float: right;
}
.soc {
    display: inline-block;
    margin-left: 12px;
}
.soc_fb {@include sized-sprite($icons, fb);}
.soc_gp {@include sized-sprite($icons, gp);}
.soc_tw {@include sized-sprite($icons, tw);}
.soc_email {@include sized-sprite($icons, email);}
/* ------------------------------------------- //END footer -------------------------------------- */